<%- include('../partials/html-head', { title: 'All Songs' }) %>
<%- include('../partials/nav-bar') %>
<section class="section">
  <h1 class="title">Create a New Song</h1>
  <form action="/songs" method="post">
    <div class="field">
      <label class="label" for="title">Title:</label>
      <input class="control" type="text" name="title" id="title" placeholder="song title" required />
    </div>
    <div class="field">
      <label class="label" for="artist">Artist</label>
      <input class="control" type="text" name="artist" id="artist" placeholder="artist name" required />

    </div>
    <div class="field">
      <label class="label" for="album">Album</label>
      <input class="control" type="text" name="album" id="album" placeholder="album name" required />
    </div>
    <button class="button is-link" type="submit">Submit</button>
  </form>
</section>
</body>

</html>